#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 12rem;
  padding-block: 30px 0;
  z-index: 9;
  position: fixed;
  top: -200px;
  left: 0;
  right: 0;

  @include for-tabletS {
    padding-inline: 2rem;
  }
  nav {
    width: 100%;
    height: 100%;
    font-family: $JetBrainsMono;
    font-size: 24px;
    .menu {
      width: 100%;
      display: flex;
      gap: 90px;
      list-style: none;

      li {
        text-transform: uppercase;
      }
    }
  }
  .logo {
    height: 5.4rem;
    width: fit-content;
    display: flex;

    @include for-tabletS {
      height: 4rem;
    }

    img {
      height: 100%;
      width: fit-content;
      object-fit: contain;
    }
  }
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    @include btn;
  }
}
.menu-modal-background {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;

  .menu-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 60vw;
    padding: 5px;
    border: 1px solid $primary-500;
    background-color: #000;

    @include for-tabletS {
      width: 80vw;
      height: fit-content;
    }
    .menu-modal-inner {
      width: 100%;
      height: 100%;
      border: 1px solid $primary-500;
      .tab {
        width: 100%;
        height: 5%;
        padding-block: 2px;
        padding-inline: 1rem 4.5rem;
        border: 1px solid $primary-500;
        font-family: $JetBrainsMono;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @include for-tabletS {
          padding-block: 7px;
        }

        button {
          position: absolute;
          background: none;
          border: none;
          height: 100%;
          top: 50%;
          padding-inline: 1rem;
          border-left: 1px solid $primary-500;
          transform: translateY(-50%);
          right: 0;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          svg {
            path {
              transition: 0.3s ease-in-out;
            }
          }

          &:hover {
            background-color: $primary-500;
            svg {
              path {
                fill: #000;
              }
            }
          }
        }
      }
      .menu {
        width: 100%;
        height: 95%;
        padding: 5.2rem 4.2rem;
        display: grid;
        grid-template-columns: 30% 1fr;
        // column-gap: 150px;

        @include for-tabletS {
          grid-template-columns: 1fr;
          height: fit-content;
          gap: 2rem;
          padding-inline: 2rem;
        }
        .menu-links {
          list-style: none;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-top: 1px solid $primary-500;
          border-bottom: 1px solid $primary-500;

          @include for-tabletS {
            gap: 2rem;
            border-right: 0px solid $primary-500;
          }
          .menu-anchor {
            width: 70%;
            text-decoration: none;
            border: 1px solid $primary-500;
            transition: 0.3s ease-in-out;

            @include for-tabletS {
              width: 100%;
            }
            &:hover {
              background-color: $primary-500;
            }
            .menu-item {
              font-family: $JetBrainsMono;
              font-size: 1.725rem;
              padding: 2rem 3.6rem;
              width: 23rem;
              color: $primary-500;
              transition: 0.3s ease-in-out;
              &:hover {
                color: #000;
              }
            }
          }
        }
        .menu-link-panel {
          width: 100%;
          height: 100%;
          display: flex;
          position: relative;

          &::before {
            position: absolute;
            content: "";
            left: 0;
            right: 80%;
            top: 50%;
            transform: translateY(-50%);
            height: 1px;
            background-color: $primary-500;

            @include for-tabletS {
              display: none;
            }
          }
          .panel {
            width: 80%;
            height: 100%;
            border: 1px solid $primary-500;
            margin-left: auto;
            position: relative;

            @include for-tabletS {
              width: 100%;
            }
            #crt {
              z-index: 1;
              display: grid;
              place-items: center;
              height: 100%;

              .socials {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                z-index: 2;

                @include for-tabletS {
                  width: 100%;
                }

                .social-link {
                  border: 1px solid $primary-500;
                  width: 15rem;
                  height: 15rem;
                  display: grid;
                  place-items: center;
                  transition: 0.3s ease-in-out;
                  background-color: hsla(185, 100%, 93%, 0);

                  @include for-tabletS {
                    width: 100%;
                  }
                  svg {
                    path {
                      transition: 0.3s ease-in-out;
                    }
                  }
                  &:hover {
                    background-color: hsla(185, 100%, 93%, 1);

                    svg {
                      path {
                        fill: #000;
                      }
                    }
                  }
                }
              }
            }
            #crt::after {
              content: " ";
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background: hsla(185, 100%, 93%, 0.1);
              opacity: 0;
              z-index: 1;
              pointer-events: none;
            }

            #crt::before {
              content: " ";
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background: linear-gradient(
                  hsla(185, 100%, 93%, 0) 51%,
                  hsla(185, 100%, 93%, 0.25) 49%
                ),
                linear-gradient(
                  90deg,
                  rgba(255, 0, 0, 0.06),
                  rgba(0, 255, 0, 0.02),
                  rgba(0, 0, 255, 0.06)
                );
              z-index: 1;
              pointer-events: none;
              background-size: 100% 3px, 4px 100%;
            }

            .menu-scene {
              width: 100% !important;
              height: 100% !important;
              overflow: hidden;
              z-index: 1;
              position: absolute;
              inset: 0;

              canvas {
                width: 100% !important;
                height: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}
