<footer id="footer">
  <div class="footer-inner">
    <a href="{{pathHome}}/" class="mobile-logo">
      <img src="{{pathHome}}/assets/logo.svg" alt="martin bocevski logo" />
    </a>
    <nav class="footer-nav">
      <div class="nav-headline">
        <span>Pages</span>
        <span>page.doc</span>
      </div>
      <div class="nav-body">
        <a href="/" class="footer-link active-foot-link">home.exe</a>
        <a href="#about" class="footer-link">about.exe</a>
        <a href="#projects" class="footer-link">projects.exe</a>
        <a href="#contact" class="footer-link">contact.exe</a>
      </div>
    </nav>

    <div class="right-block">
      <div class="social-block">
        <div class="social-inner">
          <a
            href="https://www.linkedin.com/in/martin-bocevski-535328201/"
            class="social-link"
            target="_blank"
          >
            In
          </a>
          <a
            href="https://www.instagram.com/martin.bocevski/"
            class="social-link"
            target="_blank"
          >
            Ig
          </a>
          <a
            href="https://www.facebook.com/martin.bocevski.3"
            class="social-link"
            target="_blank"
          >
            Fb
          </a>
          <a
            href="https://x.com/aerialvortex?s=21"
            class="social-link"
            target="_blank"
          >
            Tw
          </a>
          <div class="social-text">links.exe</div>
        </div>
      </div>
      <div class="creator-block">
        <div class="creator-inner">
          <span>Martin Bocevski</span>
          <span>creator.txt</span>
        </div>
      </div>
      <div class="copyright-block">
        <div class="copyright-inner">
          <span>© Copyright 2025</span>
          <span>copy.txt</span>
        </div>
      </div>

      <a href="{{pathHome}}/" class="logo">
        <img src="{{pathHome}}/assets/logo.svg" alt="martin bocevski logo" />
      </a>
    </div>
  </div>
</footer>