<div class="loading-animation-container">
  <div class="transition"></div>
  <div class="frame">
    <p class="code-processor"></p>
  </div>
  <div class="main-loader">
    <div class="loader-inner"></div>
    <div class="leftInfo">Loading...</div>
    <div class="rightInfo">(<span class="count-loading"></span>%)</div>
  </div>

  <figure class="main-disc-wrapper">
    <svg
      width="100"
      height="100"
      viewBox="0 0 100 100"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M25.063 6.6706L24.9304 6.74803C13.0184 13.6522 5.01312 24.7297 1.71128 37.0604C-1.59449 49.3976 -0.199477 62.9974 6.6706 74.937L6.74803 75.0696C13.6522 86.9816 24.7297 94.9869 37.0604 98.2887C49.3976 101.594 62.9974 100.199 74.937 93.3294L75.0696 93.252C86.9816 86.3478 94.9869 75.2703 98.2887 62.9396C101.594 50.6024 100.199 37.0026 93.3294 25.063L93.252 24.9304C86.3478 13.0184 75.2703 5.01312 62.9396 1.71128C50.6024 -1.59449 37.0026 -0.199477 25.063 6.6706ZM48.9593 95.958L48.958 70.71C48.958 70.5971 48.9764 70.4908 49.0092 70.3885C47.5564 70.3163 46.1168 70.0906 44.7192 69.7152C39.6745 68.3648 35.143 65.0866 32.3123 60.1798C29.5039 55.2861 28.9396 49.7428 30.2848 44.7192C30.9633 42.1824 32.1312 39.7769 33.7428 37.6522C33.643 37.6129 33.5499 37.5577 33.4646 37.4856L14.1207 21.2559C10.1102 26.2625 7.23359 32.0157 5.60367 38.1037C2.56693 49.4396 3.84383 61.9344 10.1483 72.9029L10.2375 73.0551C16.5853 84.0026 26.7677 91.3609 38.1037 94.3963C41.6378 95.3425 45.2822 95.8714 48.9593 95.958ZM50.9882 70.3898C51.0223 70.4908 51.0394 70.5971 51.0394 70.71L51.0407 95.9593C53.0118 95.916 54.9882 95.7454 56.9554 95.4449L52.5682 70.5774C52.5486 70.4672 52.5472 70.357 52.5617 70.252C52.0367 70.3189 51.5131 70.3635 50.9882 70.3898ZM51.0446 29.2913C51.0446 29.4029 51.0276 29.5105 50.9948 29.6115C52.4475 29.6837 53.8832 29.9108 55.2808 30.2848C60.3255 31.6352 64.857 34.9134 67.6877 39.8202C70.4961 44.7139 71.0604 50.2572 69.7152 55.2808C69.0367 57.8176 67.8714 60.2218 66.2585 62.3478C66.357 62.3871 66.4501 62.4423 66.5354 62.5144L85.8793 78.7441C89.8885 73.7375 92.7664 67.9843 94.3963 61.8963C97.4331 50.5604 96.1562 38.0656 89.8517 27.0971L89.7625 26.9449C83.4147 15.9974 73.2323 8.63911 61.8963 5.60367C58.3648 4.65748 54.7205 4.12992 51.0446 4.04199V29.2913ZM49.0052 29.6102C48.9738 29.5092 48.9554 29.4029 48.9554 29.2913V4.04068C46.9856 4.08399 45.0105 4.25459 43.0446 4.55512L47.4304 29.4239C47.4501 29.5328 47.4514 29.643 47.437 29.748C47.9593 29.6811 48.4816 29.6352 49.0052 29.6102ZM43.5932 38.9055C46.6575 37.1352 50.1509 36.7756 53.315 37.6234C56.4803 38.4711 59.3268 40.5302 61.0945 43.5932C62.8648 46.6575 63.2244 50.1509 62.3766 53.315C61.5289 56.4803 59.4698 59.3268 56.4068 61.0945C53.3425 62.8648 49.8491 63.2244 46.685 62.3766C43.5197 61.5289 40.6732 59.4698 38.9055 56.4068C37.1352 53.3425 36.7756 49.8491 37.6234 46.685C38.4711 43.5197 40.5302 40.6732 43.5932 38.9055ZM40.8976 34.0958L40.7651 34.1732C36.4252 36.7047 33.5079 40.752 32.3005 45.2559C31.0932 49.7651 31.5971 54.7375 34.0958 59.1024L34.1732 59.2349C36.7047 63.5748 40.752 66.4921 45.2559 67.6995C49.7651 68.9068 54.7375 68.4029 59.1024 65.9042L59.2349 65.8268C63.5748 63.2953 66.4921 59.248 67.6995 54.7441C68.9068 50.2349 68.4029 45.2625 65.9042 40.8976L65.8268 40.7651C63.2953 36.4252 59.248 33.5079 54.7441 32.3005C50.2349 31.0932 45.2625 31.5971 40.8976 34.0958ZM26.0512 8.34908C37.5236 1.75197 50.5879 0.412071 62.4344 3.58661C74.311 6.76903 84.9764 14.4843 91.6299 26.0131C98.248 37.5236 99.5879 50.5879 96.4134 62.4344C93.231 74.311 85.5157 84.9764 73.9869 91.6299C62.4764 98.248 49.4121 99.5879 37.5656 96.4134C25.689 93.231 15.0236 85.5157 8.37008 73.9869C1.75197 62.4764 0.412071 49.4121 3.58661 37.5656C6.76903 25.689 14.4843 15.0236 26.0512 8.34908Z"
        fill="#DAFCFF"
      />
    </svg>
  </figure>
</div>